# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report
/test-results
show.html

# next.js
/.next/
/out/
/.turbo/
/.cache/
/.parcel-cache/
/.output/
/storybook-static
/public/characters

# production
/build
/dist
!/data
/data/*

# misc
.DS_Store
.DS_Store?
Thumbs.db
Desktop.ini
.idea
.vscode
.eslintcache
.npm/
.history/
*.swp
*.swo
*~
*.orig
*.tmp
*.temp
*.pem
action.txt
.direnv/
.envrc
tmp/
temp/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
*.pid
*.pid.lock
*.seed
*.stackdump

# env files (can opt-in for committing if needed)
.env*
.env
*.local
!.env.example
!.env.sample
!.env.template

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# resources
/resources

# local docker overrides
compose.override.yml
Narratium.dmg
Narratium.msi
docker-compose.override.yml

# test
/test